body {
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    overflow-x: hidden;
}

a {
    color: #000;
}

a:hover{
    color:#000;
    outline: none;
    text-decoration: none;
}
  
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

i {
    color: #fff;
}

i:hover {
    cursor: pointer;
    color: #FFB03B;
}

#main {
    margin-top: 90px;
    transition: margin-left .5s;
}

button {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

button:hover {
    cursor: pointer;
}

/*-------- Header -------------*/
#header {
    background-color: rgba(0, 0, 0, 0.75);
    height: 85px;
    padding: 25px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

#header #logo {
    text-align: center;
}

#header #logo i {
    font-size: 32px;
}

#header #logo a {
    font-size: 32px;
    line-height: 1;
    font-family: "Satisfy", sans-serif;
    font-weight: 700;
    color: #FFB03B;
}

/*---- side navigation menu ----*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav .top {
    padding-top: 100px;
    position: relative;
}

.sidenav .bottom {
    width: 100%;
    bottom: 10px;
    position: absolute;
}

.sidenav a {
    font-family: 'PT Sans', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav .isactive {
    color: #FFB03B;
}

.sidenav a:hover {
    color: #FFB03B;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 32px;
    margin-left: 50px;
}

#card-deck {
    text-align: center;
}

#card-deck .card-bg {
    height: 300px;
    background-color: #fff;
    color: #000;
}

#card-deck a .card-title {
    margin: 75px 0px;
    font-family: "Satisfy", sans-serif;
    color: #FFB03B;
    font-size: x-large;
}

.card-search {    
    text-align: center;
    padding: 30px 0px;
    background-color: #fff;
    margin-top: 30px;
    width: 300px;
}

.card-search input {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 0px 10px;
}

.card-search .card-title {
    font-family: "Satisfy", sans-serif;
    color: #FFB03B;
    font-size: x-large;
}

.cartbox {
    background-color: #fff;
    padding: 30px 0px;
}

.cartbox table {
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 20px;
}

.cartbox th, td{
    padding: 10px;
}

.payments .card{
    padding: 10px 30px;
}

.nav-btn {
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    line-height: 1;
    margin: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.nav-btn:hover {
    border: 2px solid #FFB03B;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFB03B;
    transition: all 0.3s;
}

/*---------- Login/Registrations ----------*/
.login-container {
    padding: 10% 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.reg-container {
    padding: 5% 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-2 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: table;
}

.card-2 .title {
    text-align: center;
    font-family: "Satisfy", sans-serif;
    color: #FFB03B;
    font-weight: 700;
    margin-bottom: 37px;
  }

.card-2 .card-heading {
    background: url("../img/bg-heading-02.jpg") top left/cover no-repeat;
    width: 25%;
    display: table-cell;
}
  
.card-2 .card-body {
    display: table-cell;
    padding: 8% 11% 5%;
}

.card-2 input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
}

.card-2 .input-group {
    position: relative;
    margin-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;
}

.card-2 .input--style-2 {
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
}

.card-2 .input--style-2::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #808080;
}
  
.card-2 .input--style-2:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #808080;
    opacity: 1;
}
  
.card-2 .input--style-2::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #808080;
    opacity: 1;
}
  
.card-2 .input--style-2:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #808080;
}
  
.card-2 .input--style-2:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #808080;
}

.card-2 a {
    color: #FFB03B;
}

.card-2 a:hover {
    color:#000;
}

.login-btn {
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    background-color: #FFB03B;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

/*------Contact Page------*/

.reg-container1 {
    padding: 7% 40%;
    top:0;
    width:100%;
}

.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
	
}

.card-3 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: table;

}
 
.card-3 .input--style-2 {
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
	position:fixed;
}

    .form-label-left{
        width:150px;

    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px;
    }
    .form-all{
        width:550px;
        color:Black !important;
        font-family'sans-serif';
        font-size:14px;
    }
    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{ color: Black;
    }

/*------------------------------------------------
                Responsive
-------------------------------------------------*/
@media (max-width: 980px) {
    .content-holder h2 {
        font-size: 23px;
    }
    .details-text p {
        line-height: 16.6px;
    }
}
@media (max-width: 767px) {
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
}
@media (max-width: 450px) {
    .menu-restaurant {
    width: 100%;
    }
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
    .header-h {
        font-size: 35px;
    }
    .header-p, body{
        font-size: 14px;
    }
    .about-info, .mr-15{
        margin-bottom: 15px;
    }
    #banner h2{
        font-size: 25px;
    }
    #banner p{
        font-size: 25px;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
