<main id="main">
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js"></script>-->
  <!--<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>-->
  <!--<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.17188" type="text/javascript"></script>-->
  <!--<script type="text/javascript"></script>-->
  <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.17188" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.17188" />
  <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.17188" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-steel.css?3.3.17188"/>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <form class="jotform-form" action="https://submit.jotform.com/submit/201102028125435/" method="post" name="form_201102028125435" id="201102028125435" accept-charset="utf-8" autocomplete="on">
    <input type="hidden" name="formID" value="201102028125435" />
    <input type="hidden" id="JWTContainer" value="" />
    <input type="hidden" id="cardinalOrderNumber" value="" />
    <div class="container d-flex justify-content-around">
    <div class="card card-3">
    <div role="main" class="form-all">
      <ul class="form-section page-section">
        <li id="cid_1" class="form-input-wide" data-type="control_head">
          <div class="form-header-group  header-large">
            <div class="header-text httal htvam">
              <h1 style="text-align: center; color:#FFB03B; font-family: Satisfy; font-size: xx-large;">
                Contact Us
              </h1>
        <br>
              <div id="subHeader_1" class="form-subHeader">
                <b>Address:</b> BMS College of Engineering, MCA Dept.<br>
                <b>Phone:</b> 7738712126<br>
                <b>Email:</b>rachna.mca18@bmsce.ac.in
              </div>
            </div>
          </div>
        </li>
        </li>
        <li class="form-line" data-type="control_radio" id="id_3">
          <label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> Feedback Type </label>
          <div id="cid_3" class="form-input-wide">
            <div class="form-multiple-column" data-columncount="3" role="group" aria-labelledby="label_3" data-component="radio">
              <span class="form-radio-item">
                <span class="dragger-item">
                </span>
                <input type="radio" class="form-radio" id="input_3_0" name="q3_feedbackType" value="Comments" />
                <label id="label_input_3_0" for="input_3_0"> Comments </label>
              </span>
              <span class="form-radio-item">
                <span class="dragger-item">
                </span>
                <input type="radio" class="form-radio" id="input_3_1" name="q3_feedbackType" value="Bug Reports" />
                <label id="label_input_3_1" for="input_3_1"> Bug Reports </label>
              </span>
              <span class="form-radio-item">
                <span class="dragger-item">
                </span>
                <input type="radio" class="form-radio" id="input_3_2" name="q3_feedbackType" value="Questions" />
                <label id="label_input_3_2" for="input_3_2"> Questions </label>
              </span>
            </div>
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_textarea" id="id_4">
          <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4">
            Describe Feedback:
            <span class="form-required">
              
            </span>
          </label>
          <div id="cid_4" class="form-input-wide jf-required">
            <textarea id="input_4" class="form-textarea validate[required]" name="q4_describeFeedback" cols="40" rows="6" data-component="textarea" required="" aria-labelledby="label_4"></textarea>
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_fullname" id="id_8">
          <label class="form-label form-label-top form-label-auto" id="label_8" for="first_8">
            Name
            <span class="form-required">
              
            </span>
          </label>
          <div id="cid_8" class="form-input-wide jf-required">
            <div data-wrapper-react="true">
              <span class="form-sub-label-container " style="vertical-align:top" data-input-type="first">
                <input type="text" id="first_8" name="q8_name[first]" class="form-textbox validate[required]" size="10" value="" data-component="first" aria-labelledby="label_8 sublabel_8_first" required="" />
                <label class="form-sub-label" for="first_8" id="sublabel_8_first" style="min-height:13px" aria-hidden="false"> First Name </label>
              </span>
              <span class="form-sub-label-container " style="vertical-align:top" data-input-type="last">
                <input type="text" id="last_8" name="q8_name[last]" class="form-textbox validate[required]" size="15" value="" data-component="last" aria-labelledby="label_8 sublabel_8_last" required="" />
                <label class="form-sub-label" for="last_8" id="sublabel_8_last" style="min-height:13px" aria-hidden="false"> Last Name </label>
              </span>
            </div>
          </div>
        </li>
        <li class="form-line jf-required" data-type="control_email" id="id_6">
          <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6">
            E-mail
            <span class="form-required">
              *
            </span>
          </label>
          <div id="cid_6" class="form-input-wide jf-required">
            <input type="email" id="input_6" name="q6_email6" class="form-textbox validate[required, Email]" size="32" value="" placeholder="ex: myname@example.com" data-component="email" aria-labelledby="label_6" required="" />
          </div>
        </li>
        <li class="form-line" data-type="control_button" id="id_2">
        <div class="d-flex justify-content-around">
        
              <button type="submit" class="login-btn" data-component="button" data-content="">
                Submit Feedback
              </button>
        <button class="login-btn" type="clear">Clear</button>
          </div>
        </li>
        <li style="display:none">
          Should be Empty:
          <input type="text" name="website" value="" />
        </li>
      </ul>
    </div>
  </form>
  </div>
  </div>
  <div class="container d-flex justify-content-around" style="margin-top: 30px;"><!--Buttons-->
    <a href="/menu" class="nav-btn">Back To Menu</a>
    </div>
 <br><br><br>
    <!--Footer start-->
    <footer id="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>Delicious</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by BootstrapMade
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </main>