<main id="main">
  <div class="container"><!--Cart-->
    <div class="cartbox">
      <h1 style="text-align: center; color:#FFB03B; font-family: Satisfy, sans-serif;">User Guide to the website</h1><br>
    </div>

    <button class="accordion">User guide for application</button>
      <div class="panel">
        <br>
       <p><ul>
         <li>Only user who have BMSCE email id can login to the application</li>
         <li>New user have to register first and then user can use the application</li>
         <li>If some order is canceled and the payment is done online then the amount will be credited into credits of the particular user</li>
         <li>Two options have been given for payment online and credit</li>
         <li>User can provide us feedback regarding to the application, cafeteria service using feedback form</li>
         <li>Menu page will guide user to order food according to their choice</li>
       </ul></p>
      </div>

    <button class="accordion">Any user can login to the application?</button>
      <div class="panel">
        <br>
       <p>This website is built for college campus students and teachers. Users having BMS email id can register and login to the application and order their meal from anywhere inside the campus</p>
      </div>
    
      <button class="accordion">If I want to cancel my order, within what time I can cancel the order?</button>
      <div class="panel">
        <br>
       <p>After placing the order successfully, the user can cancel the order within 10 minutes after the order. 
         If the money is paid online then money will be added into the user account in the form of credit which can be used in further order placed by the user.
       </p>
      </div>
      
      <button class="accordion">I want to provide feedback</button>
      <div class="panel">
        <br>
       <p>Kindly visit the contact section to provide feedback.</p>
      </div>

      <button class="accordion">Can I edit my order?</button>
      <div class="panel">
        <br>
       <p>Unfortunately, we don't provide the privilege to the user to edit their order once it is placed successfully</p>
      </div>

      <button class="accordion">Can we apply coupons while ordering?</button>
      <div class="panel">
        <br>
       <p>Unfortunately, we don't provide the privilege to the user to apply coupon</p>
      </div>

      <button class="accordion">Wil Namma Cafeteria will be accountable for quality/quantity?</button>
      <div class="panel">
        <br>
       <p>Quality and quantity is Cafeteria responsibilty.However in case of issues with the quality or quantity, 
         kindly submit your feedback and we will pass it on to the cafeteria</p>
      </div>

  </div>
  <div class="container d-flex justify-content-around" style="margin-top: 30px;"><!--Buttons-->
      <a href="/menu" class="nav-btn">Back To Menu</a>
  </div>
<br><br>
<br>
</main>