<main id="main">
  <div class="container"><!--Cart-->
    <div class="cartbox">
      <h1 style="text-align: center; color:#FFB03B; font-family: Satisfy, sans-serif;">User Guide to the website</h1><br>
     <ul>
   <li><b>Registration Page:</b> Use this page to login using using your college email id and password</li><br>
   <li><b>Login Page:</b> Once registration is completed , anytime login can be done using same email id and password</li><br>
   <li><b>Credits:</b> If any order gets cancelled and money have been paid by online mode, the same amount will be credited in the form of credits</li><br>
   <li><b>Live Orders:</b> This feature shows how much time left in cancellig the order</li>
   </ul>
    </div>
  </div>
  <div class="container d-flex justify-content-around" style="margin-top: 30px;"><!--Buttons-->
      <a href="/menu" class="nav-btn">Back To Menu</a>
  </div>
</main>