<main id="main">
<div class="container"><!--Cards-->
  <div class="card-deck" id="card-deck">
    <div class="card card-bg" id="card1">
      <a href="/userdetails">
        <div class="card-body">
         <div class="card-title">View User Profile</div>
          <div class="card-text">View your profile as well as your current credit balance</div>
        </div>
      </a>
    </div>
    <div class="card card-bg">
      <a href="/menu">
        <div class="card-body">
          <div class="card-title">View Full Menu</div>
          <div class="card-text">Contains the entire menu</div>
        </div>
      </a>
    </div>
    <div class="card card-bg">
      <a href="/quickorders">
        <div class="card-body">
          <div class="card-title">View Quick Orders</div>
          <div class="card-text">Order quickly with your quick orders</div>
        </div>
      </a>
    </div>
  </div>
  <div class="card card-search" id="cardSearch">
    <form action="/search" method="GET">
      <div class="card-title">Search for a dish</div>
      <input class="rounded" type="text" name="dishname" placeholder="Dish Name" required>
      <input  class="rounded" type="submit" value="Search">
    </form>
  </div>
</div>
<br><br>

 <!--Footer start-->
 <footer id="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Delicious</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Designed by BootstrapMade
  </div>
</div>
</footer>
<!-- End Footer -->

</main>