<main id="main">
  <div class="container"><!--Cards-->
    <div class="card-deck" id="menucards">
      <div class="card mcard-bg" id="cardmanagermenu">
        <a href="./managemenu">
          <div class="card-body">
           <div class="card-title">View Menu</div>
            <div class="card-text">Can view and edit the menu</div>
          </div>
        </a>
      </div>
      <div class="card mcard-bg" id="cardliveorders">
        <a href="./manageliveorders">
          <div class="card-body">
            <div class="card-title">Manage Live Orders</div>
            <div class="card-text">Contains the orders that are currently live</div>
          </div>
        </a>
      </div>
      <div class="card mcard-bg" id="cardallorders">
        <a href="./viewallorders">
          <div class="card-body">
            <div class="card-title">View All Orders</div>
            <div class="card-text">Contains all the orders received</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  </main>