<main id="main">
  <div class="container"><!--Cards-->
    <div class="row" id="menucards">
      <% for( let i = 0; i < dishTypes.length; i++ ) { %>
        <div class="col-sm-4">
          <div class="card card-bg">
            <a href="/submenu?type=<%= durls[i] %> ">
              <div class="card-body">
                <div class="card-title"><%= dishTypes[i] %> </div>
              </div>
            </a>
          </div>
        </div>
      <% } %>
    </div>
  </div>

   <!--Footer start-->
   <footer id="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Delicious</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by BootstrapMade
    </div>
  </div>
</footer>
<!-- End Footer -->

</main>