<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Payments - Namma Cafeteria</title>
  <meta name="description" content="College Cafeteria Ordering App">
  <meta name="keywords" content="Namma Cafeteria, BMSCE Cafeteria">

  <!--link href="img/favicon.jpg" rel="icon"-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header">
    <div id="mySidenav" class="sidenav">
      <div class="top">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-times" aria-hidden="true"></i></a>
        <a href="/userdetails">User Details and Balance</a>
        <a href="/quickorders">Quick Orders</a>
        <a href="/orderhistory">Order History</a>
        <a href="/liveorders">Live Orders</a>
      </div>
      <div class="bottom">
        <a href="/help">Help?</a>
        <a href="/contact">Contact Us</a>
      </div>
    </div>
    <div style="margin:0px 40px">
      <div id="logo">
        <div class="pull-left">
          <span onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </div>
        <a href="/">Namma Cafeteria</a>
        <div class="pull-right">
          <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </header><!-- End Header -->

  <main id="main">
    <div class="container"><!--Cart-->
      <div class="cartbox">
        <h1 style="text-align: center; color:#FFB03B; font-family: Satisfy, sans-serif;">Payment Options</h1>
        <h4 style="margin-left: 30px; color: #000;">Choose a payment method:</h4>
        <form class="payments" action="" method="POST">
          <div class="card-deck">
            <div class="card" style="border:none">
              <div class="card-title">
                <input type="radio" name="option" value="credits" id="credits" checked>
                <label for="credits">Namma Cafeteria Credits</label>
              </div>
              <div class="card-text">
                &nbsp&nbsp&nbsp You have 0.0 credits remaining.
              </div>
            </div>
            <div class="card" style="border:none">
              <div class="card-title">
                <input type="radio" name="option" value="paypal" id="paypal">
                <label for="paypal">Paypal</label>
              </div>
              <div class="card-text">
                &nbsp&nbsp&nbsp You will be redirected to the paypal interface.
              </div>
            </div>
          </div>
          <center>
            <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_EoyEeV63XzNWD9/view" data-text="Pay Now" data-color="#528FF0" data-size="small">
              <script>
                (function(){
                  var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                  if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                  s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                  rzp && rzp.init && rzp.init()}})();
              </script>
            </div>
                
          </center>
        </form>
      </div>
    </div>
    <div class="container d-flex justify-content-around" style="margin-top: 50px;"><!--Buttons-->
        <a href="/menu" class="nav-btn">Back To Menu</a>
    </div>
  </main>

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
