<main id="main">
  <div class="container"><!--Cart-->
    <div class="cartbox">
      <h1 style="text-align: center; color:#FFB03B; font-family: Satisfy, sans-serif;">Payment Options</h1>
      <h4 style="margin-left: 30px; color: #000;">Choose a payment method:</h4>
      <form class="payments" action="" method="POST">
        <div class="card-deck">
          <div class="card" style="border:none">
            <div class="card-title">
              <input type="radio" name="option" value="credits" id="credits" checked>
              <label for="credits">Namma Cafeteria Credits</label>
            </div>
            <div class="card-text">
              &nbsp&nbsp&nbsp You have 0.0 credits remaining.
            </div>
          </div>
          <div class="card" style="border:none">
            <div class="card-title">
              <input type="radio" name="option" value="paypal" id="paypal">
              <label for="paypal">Paypal</label>
            </div>
            <div class="card-text">
              &nbsp&nbsp&nbsp You will be redirected to the paypal interface.
            </div>
          </div>
        </div>
        <center>
          <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_EoyEeV63XzNWD9/view" data-text="Pay Now" data-color="#528FF0" data-size="small">
            <script>
              (function(){
                var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                rzp && rzp.init && rzp.init()}})();
            </script>
          </div>
              
        </center>
      </form>
    </div>
  </div>
  <div class="container d-flex justify-content-around" style="margin-top: 50px;"><!--Buttons-->
      <a href="/menu" class="nav-btn">Back To Menu</a>
  </div>
</main>