<main id="main">
  <div class="container"><!--Cart-->
    <div class="cartbox"  style="padding-left: 5%;padding-right: 5%;">
      <h1 style="text-align: center; color:#FFB03B; font-family: Satisfy, sans-serif;">Quick Orders</h1>
      <% if (locals.LoadUserFailed) { %>
        <h5>Unable to get User details right now, try again later.</h5>
      <% } else if (Uqck_orders){ %>
        <table id="cart-table">
          <thead>
            <tr>
              <th>Item Name</th>
              <th valign="right">Price</th>
              <th valign="right"></th>
              <th valign="right"></th>
            </tr>
          </thead>
          <tbody>
            <% for( let index = 0; index < Uqck_orders.length; index++ ) { %>
              <tr>
                <td><%= Uqck_orders[index] %></td>
                <td>₹<%= orderprice[index] %> </td>
                <td><a href="removefav?dishid=<%= dish_ids[index] %>&frm=qck"><i class="fa fa-remove" style="color: #FFB03B; font-size:xx-large;" title="Remove"></i></a></td>
                <td><a href="/addtocart?dish_id=<%= dish_ids[index] %>"><i class="fa fa-cart-plus" style="color: #FFB03B; font-size:xx-large;" title="Add to cart"></i></a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <h4 style="text-align: center;">You have not set any quick orders</h4>
      <% } %>
    </div>
  </div>
  <div class="container d-flex justify-content-around" style="margin-top: 30px;"><!--Buttons-->
      <a href="/menu" class="nav-btn">Back To Menu</a>
  </div>
</main>