<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registration - Namma Cafeteria</title>
  <meta name="description" content="College Cafeteria Ordering App">
  <meta name="keywords" content="Namma Cafeteria, BMSCE Cafeteria">

  <!--link href="img/favicon.jpg" rel="icon"-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
<main>
    <div class="reg-container">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <a href="/"> <h2 class="title">Namma Cafeteria</h2></a>
                <form method="POST">
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Name" name="name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Email id" name="name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Password" name="name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Confirm Password" name="name">
                    </div>
                    <div class="d-flex justify-content-around">
                        <button class="login-btn" type="submit">Register</button>
                        <button class="login-btn" type="clear">Clear</button>
                    </div><br>
                    <p>Already have an account? Login <a href="/index">Here</a>.</p>
                </form>
            </div>
        </div>
    </div>
</main>

</body>
</html>