<main id="main">
  <div class="container"><!--Cart-->
    <div class="cartbox">
      <h1 style="text-align: center; color:#FFB03B; font-family: Satisfy, sans-serif;">User Details</h1>
     
      <table id="cart-table">
  <tbody>
  <tr>
     <td><label for="Name">Name: </label></td>
     <td><input id="Name" maxlength= "10"name="name" type="text" /></td>
     </tr>

   <tr>
   <td><label for="Email ID">Email ID: </label></td>
   <td><input id="Email" maxlength="10" name="Email ID" type="text" /></td>
   </tr>

   <tr>
   <td><label for="Namma Credit Points Balance">Namma Credit Points Balance: </label></td>
   <td><input id="Namma Credit Points Balance" maxlength="10" name="Namma Credit Points Balance" type="text" /></td>
   </tr>
   
  <tr>
    <td><label for="View Order History">View Order History: </label></td>
    <td><input id="View Order History" maxlength="10" name="View Order History" type="text" /></td>
  </tr> 
        
       </tbody>
      </table>
    </div>
  </div>
  <div class="container d-flex justify-content-around" style="margin-top: 30px;"><!--Buttons-->
      <a href="/home" class="nav-btn">Back To Home</a>
  </div>
</main>