body {
    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    color: #000;
}

a:hover{
    color:#000;
    outline: none;
    text-decoration: none;
}
  
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

i {
    color: #fff;
}

i:hover {
    cursor: pointer;
    color: #FFB03B;
}

#main {
    margin-top: 90px;
    transition: margin-left .5s;
}

button {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

button:hover {
    cursor: pointer;
}

/*-------- Header -------------*/
#header {
    background-color: rgba(0, 0, 0, 0.75);
    height: 85px;
    padding: 25px 0;
    position: fixed;
    top:0;
    width:100%;
    z-index: 997;
}

#header #logo,
#header #mlogo {
    text-align: center;
}

#header #mlogo i,
#header #logo i {
    font-size: 32px;
}

#header #mlogo a,
#header #logo a {
    font-size: 32px;
    line-height: 1;
    font-family: "Satisfy", sans-serif;
    font-weight: 700;
    color: #FFB03B;
}

#header a {
    padding-left: 10px;
}

/*---- side navigation menu ----*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav .top {
    padding-top: 100px;
    position: relative;
}

.sidenav .bottom {
    width: 100%;
    bottom: 10px;
    position: absolute;
}

.sidenav a {
    font-family: 'PT Sans', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav .isactive {
    color: #FFB03B;
}

.sidenav a:hover {
    color: #FFB03B;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 32px;
    margin-left: 50px;
}

#card-deck {
    text-align: center;
}

#card-deck2 {
    text-align: center;
    margin-top: 10px;
}

#card-deck2 .card-bg,
#card-deck .card-bg {
    height: 300px;
    background-color: #fff;
    color: #000;
}

#card-deck2 a .card-title,
#card-deck a .card-title {
    margin: -8px 0px;
    font-family: "Satisfy", sans-serif;
    color: #FFB03B;
    font-size: xx-large;
}

#menucards .card-bg {
    height: 240px;
    background-color: #fff;
    color: #000;
    margin-bottom: 5%;
    text-align: center;
}

#menucards .mcard-bg {
    height: 250px;
    background-color: #fff;
    color: #000;
    margin-bottom: 5%;
    text-align: center;
}

#menucards .mcard-bg .card-title {
    margin: 75px 0px;
    font-family: "Satisfy", sans-serif;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFB03B;
    font-size: xx-large;
}

#menucards a .card-title {
    margin: 75px 0px;
    font-family: "Satisfy", sans-serif;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFB03B;
    font-size: xx-large;
}

#menucards a .card-text {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.card-search {    
    text-align: center;
    padding: 30px 0px;
    background-color: #fff;
    margin-top: 30px;
    width: 100%;
}

.card-search input {
    border:2px solid #FFB03B;
    padding: 5px 10px;
}

.card-search input[type=submit] {
    background-color: #FFB03B;
    color: #fff;
    cursor: pointer;
}

.card-search input:focus {
    outline: none;
}

.card-search .card-title {
    font-family: "Satisfy", sans-serif;
    color: #FFB03B;
    font-size: xx-large;
}

.cartbox {
    background-color: #fff;
    padding: 30px 0px;
}

.cartbox table {
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 20px;
}

.cartbox th, td{
    padding: 10px;
}

.payments .card{
    padding: 10px 30px;
}

.nav-btn {
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    line-height: 1;
    margin: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.nav-btn:hover {
    border: 2px solid #FFB03B;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFB03B;
    transition: all 0.3s;
}

tr:hover {
    background-color: rgba(255, 176, 59, 0.15);
}

/*---------- Login/Registrations ----------*/
.login-container {
    padding: 10% 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.reg-container {
    padding: 5% 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-2 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: table;
}

.card-2 .title {
    text-align: center;
    font-family: "Satisfy", sans-serif;
    color: #FFB03B;
    font-weight: 700;
    margin-bottom: 37px;
  }

.card-2 .card-heading {
    background: url("../img/bg-heading-02.jpg") top left/cover no-repeat;
    width: 25%;
    display: table-cell;
}
  
.card-2 .card-body {
    display: table-cell;
    padding: 8% 11% 5%;
}

.card-2 input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
}

.card-2 .input-group {
    position: relative;
    margin-bottom: 32px;
}

.card-2 .input--style-1 {
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
}

.card-2 .input--style-2 {
    padding-top: 9px;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
}

.card-2 .input--style-2::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #808080;
}
  
.card-2 .input--style-2:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #808080;
    opacity: 1;
}
  
.card-2 .input--style-2::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #808080;
    opacity: 1;
}
  
.card-2 .input--style-2:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #808080;
}
  
.card-2 .input--style-2:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #808080;
}

.card-2 a {
    color: #FFB03B;
}

.card-2 a:hover {
    color:#000;
}

.login-btn {
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    background-color: #FFB03B;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

/*------Payment Page------*/
.namma-credits-div {
    margin: 8px;
    padding:10px;
}

.namma-credits-btn {
    line-height: 40px;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    background-color: #FFB03B;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

.namma-credits-btn-disabled {
    line-height: 40px;
    display: inline-block;
    padding: 0 20px;
    background-color: rgb(98, 99, 100);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

/*------Contact Page------*/
.reg-container1{
    margin-top: 100px;
    padding: 0% 10%;
    width: 100%;
    align-content: center;
}

.card-3 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: auto;
    display: table;

}
 
.card-3 .input--style-2 {
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
	position:fixed;
}

.form-label-left{
    width:150px;

}
.form-line{
    padding-top:12px;
    padding-bottom:12px;
}
.form-label-right{
    width:150px;
}
.form-all{
    width:550px;
    color:Black !important;
    font-size:14px;
}
.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{ color: Black;
}

/*------------------------------------------------
                Responsive
-------------------------------------------------*/
@media (max-width: 980px) {
    .content-holder h2 {
        font-size: 23px;
    }
    .details-text p {
        line-height: 16.6px;
    }
}
@media (max-width: 767px) {
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
}
@media (max-width: 450px) {
    .menu-restaurant {
    width: 100%;
    }
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
    .header-h {
        font-size: 35px;
    }
    .header-p, body{
        font-size: 14px;
    }
    .about-info, .mr-15{
        margin-bottom: 15px;
    }
    #banner h2{
        font-size: 25px;
    }
    #banner p{
        font-size: 25px;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*-- Footer--*/
#footer {
    background-color:rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 15px;
    text-align: center;
    height:62px;
    padding: 16px 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#footer .copyright {
    margin: 0 0 0px 0;
}

#footer .credits {
    font-size: 13.5px;
    color: #FFB03B;
}

/*--Help Page--*/

.accordion {
    background-color:white;
    color:black;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    font-family:sans-serif;
    text-align: left;
    outline: none;
    font-size: 19px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color:white;
    color: #FFB03B;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    font-family:sans-serif;
    font-size: 15px;
    transition: max-height 0.2s ease-out;
}
  /*---End---*/

  /*---image in home page---*/

#carduser{
    background-image: url(../img/user.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 28px;
}

#cardmenu{
    background-image: url(../img/menu.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 48px;
}

#cardquick{
    background-image: url(../img/quick.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 0px,18px;
}

#menuidly-vada-dosa {
    background-image: url(../img/menu/idli.jpg);
    background-size: cover;
}

#menuindian-bread {
    background-image: url(../img/menu/bread.jpg);
    background-size: cover;
}

#menunoodles {
    background-image: url(../img/menu/noodles.jpg);
    background-size: cover;
}

#menurice {
    background-image: url(../img/menu/rice.jpg);
    background-size: cover;
}

#menusnacks {
    background-image: url(../img/menu/chats.jpg);
    background-size: cover;
}

#cardmanagermenu {
    background-image: url(../img/managermenu.jpg);
    background-size: cover;
}
#cardliveorders {
    background-image: url(../img/managerorders.jpg);
    background-size: cover;
}

#cardallorders {
    background-image: url(../img/managerallorders.jpg);
    background-size: cover;
}

.addnewdish input {
    border:2px solid #FFB03B;
}

.addnewdish input[type=submit] {
    background-color: #FFB03B;
    color: #fff;
    cursor: pointer;
}

.addnewdish input:focus {
    outline: none;
}